body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor {
  background-color: white;
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 12px;
  margin: 5%;

}
#heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
#title >p {
  margin: 0%;
  text-align: end;
}




